.skill__card,
.skill__image{
  display: grid;
}

.skill__card{
    justify-content: center;
    text-align: center;
  }
  
  .skill__image{
    width: 80px;
    height: 100px;
    /* background-color: var(--container-color); */
    /* border-radius: 3rem; */
    place-items: center;
    /* margin-bottom: 1rem; */
  }
  
  .skill__image img{
    width: 65px;
    height: 65px;
  }
  
  .skill__name{
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
  }

  .skill__image:hover img{
    animation: bounce .6s;
  }
  
  @keyframes bounce{
    0%, 40%, 80%{ transform: translate(0); }
    20%{ transform: translateY(-6px); }
    60%{ transform: translateY(-3px); }
  }