<div class="d-flex flex-column flex-md-row align-items-center pb-3 pt-3 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
      <span class="fs-4">Sandbox</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Resumé</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">About</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Code Samples</a>
      <button class="btn btn-outline-success" type="submit">Login</button>
    </nav>

</div>